<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>

    <add key ="MinimumHeighForBatman" value="150"/>
    <add key ="MaximumHeighForBatman" value="null"/>
    
    <add key ="MinimumHeighForSwan" value="120"/>
    <add key ="MaximumHeighForSwan" value="140"/>
    

  </appSettings>
</configuration>